@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
    font-family: "Muli", sans-serif;
}

body {
    background: url(bg2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

strong {
    color: #fdb100;
}

.content-wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.MessagePerson {
    border: 3px solid #019245;
    border-right: 0px;
    border-left: 0px;
    margin-left: auto;
    width: 60%;
    background-color: #444;
    color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin-top: 10px;
}

.MessageBot {
    border: 3px solid #019494;
    border-right: 0px;
    border-left: 0px;
    margin: 0px;
    width: 60%;
    font-size: 18px;
    background-color: #222;
    color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin-top: 10px;
}

.MessageTicket {
    border: 2px solid black;
    border-right: 0px;
    border-left: 0px;
    width: 800px;
    margin: 0px;
    background-color: #d0901d;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.Chat {
    background-image: linear-gradient(to bottom right,#0D191E, black);
    text-align: center;
    color: white;
    opacity: 0.97;
    margin: auto;
    padding: 5px;
    border: 3px solid black;
    border-bottom: 0;
}

.disclaimer {
    color: white;
    margin: auto;
    border: 1px solid black;
    opacity: 0.97;
    padding: 25px;
    background-color: #111;
}

.tools {
    background-color: #1b1b1b;
    border: 3px solid black;
    border-top: 1px solid #019494;
    text-align: center;
    color: white;
    margin: auto;
    opacity: 0.98;
    padding: 5px;
    margin: auto;
    position: sticky;
    bottom: 0;
}

.link {
    color: #fdb100;
    font-weight: bold;
}

.cmd {
    border: 2px outset #019494;
    padding: 1px;
    border-radius: 3px;
}

.question-icon {
    font-size: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.input {
    background-color: #111;
    border: 1px solid black;;
    border-bottom: 3px solid #d0901d;
    font-size: 20px;
    color: white;
    width: 400px;
    height: 40px;
    padding: 5px;
}

.smallInput {
    background-color: #111;
    border: 1px solid black;
    border-bottom: 3px solid #d0901d;
    font-size: 13px;
    color: white;
    width: 200px;
    height: 30px;
    padding: 5px;
    margin: 5px 5px 0px 0px;
}

h2 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    color: white;
}

.button {
    background-color: #151515;
    color: #019245;
    margin: 10px;
    border: 2px solid #22333b;
    border-radius: 2px;
    font-size: 22px;
    cursor: pointer;
    padding: 10px;
}

.button:hover {
    background-color: #00823d;
    color: white;
}

.small {
    padding: 5px;
}

.clear {
    background-color: #151515;
}

.clear:hover {
    background-color: #b31010;
    color: white;
}

.Name {
    text-align: center !important;
}

img {
    cursor: pointer;
    width: 550px;
}

.imgLarge {
    width: 1500px;
}

.tag {
    color: #2a47ae;
}

.search {
    border-top: 1px solid white;
    border-radius: 10px;
    margin: 0px;
    padding: 2px;
}



@media all and (max-width: 845px) {

    .input,
    .button,
    .content-wrapper {
        margin: 8px 0;
        width: 100%;
    }


    .MessagePerson,
    .MessageBot {
        width: auto;
        border-radius: 5px;
    }

    .disclaimer {
        font-size: 12px;
        padding: 15px;
    }

    img {
        width: 500px;
    }

}