@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
    font-family: "Muli", sans-serif;
}

.MessagePerson {
    border: 3px solid #019245;
    border-right: 0px;
    border-left: 0px;
    margin-left: auto;
    font-size: 18px;
    background-color: #444;
    color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin-top: 10px;
}

.MessageBot {
    border: 3px solid #019494;
    border-right: 0px;
    border-left: 0px;
    margin: 0px;
    font-size: 18px;
    background-color: #222;
    color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin-top: 10px;
}

.Chat {
    border: 2px solid black;
    border-bottom: 0;
    width: 400px;
    height: 100%;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right,#0D191E, black);
    position: fixed;
    display: none;
    overflow: auto;
    overflow-x: hidden;
    z-index: 2;
}

.button {
    background-color: #151515;
    color: #019245;
    border: 2px solid #22333b;
    border-radius: 2px;
    font-size: 22px;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
    width: 97%;
}

.button:hover {
    background-color: #00823d !important;
    color: white;
}

.button:focus {
    background-color: #151515;
}

.search {
    border-top: 1px solid white;
    border-radius: 10px;
    margin: 0px;
    padding: 2px;
}

.fa {
    color: #d0901d;
    font-size: 26px;
    position: static;
    padding: 10px;
    left: 0 !important;
}

.inputAHB {
    margin-top: 5px !important;
    background-color: #111 !important;
    border: 1px solid black !important;
    border-bottom: 3px solid #d0901d !important;
    font-size: 20px !important;
    color: white !important;
    width: 98% !important;
    height: 40px !important;
    padding: 5px !important;
    box-shadow: none !important;
}

.inputAHB:focus {
    border: 1px solid white !important;
    border-radius: 3px;
}
.tag {
    color: #2a47ae;
}

.smallInput {
    background-color: #111;
    border: 1px solid black;
    border-bottom: 3px solid #d0901d;
    font-size: 13px;
    color: white;
    width: 200px;
    height: 30px;
    padding: 5px;
    margin: 5px 5px 0px 0px;
}

@media all and (max-width: 845px) {

    .input,
    .button,
    .content-wrapper {
        margin: 8px 0;
        width: 100%;
    }


    .MessagePerson,
    .MessageBot {
        width: auto;
        border-radius: 5px;
    }

    .Chat {
        border: 2px solid black;
        border-bottom: 0;
        width: 300px;
        height: 100%;
    }

}